{% extends 'base.html.twig' %}

{% block body %}

    {# ----------------------------------------------- image remplace video --------------------------------------#}
    <div class="banner_imgFixe">
        <div class="container ">
            <img src="{{ asset('asset/img/banner_odyssey.jpg') }}" alt="">
        </div>
    </div>

    <div class="container">
        <br>
        <h2>Gestion Users</h2>
        <br>

        {#   <a href="{{ path('app_admin_sejour_edit') }}" class="btn btn-outline-secondary mb-3">
               Créer un user
           </a>#}

        <table class="table">
            <tr class="table-dark">
                <th>Id</th>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Email</th>
                <th>Role</th>
                <th>Premium</th>
                <th></th>
                <th width="250px"></th>
            </tr>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }} </td>
                    <td>{{ user.nom }}</td>
                    <td>{{ user.prenom }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.role }}</td>
                    <td>{{ user.premium }}</td>
                    <td>
                        {# {{ form_start(form) }}
                         {{ form_row(form.premium) }}
                         {{ form_end(form) }}#}
                    </td>
                    <td>
                        {% if user.premium != 1 %}
                            <a href="{{ path('app_admin_user_passepremium', {'id': user.id}) }}"
                               class="btn btn-warning">
                                Passer Premium
                            </a>
                        {% else %}
                            <a href="{{ path('app_admin_user_supprimepremium', {'id': user.id}) }}"
                               class="btn btn-danger">
                                Supprimer Premium
                            </a>
                        {% endif %}
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="6" class="text-center">Aucun user</td>
                </tr>
            {% endfor %}
        </table>

    </div>
{% endblock %}