{% extends 'base.html.twig' %}
{% block body %}

    <h2>Nos Séjours</h2>
    <br>
    <br>
    <div class="container-card">

        {% for sejour in sejours %}
        <div class="card" style="width: 18rem;">
            {% if sejour.image1 is not null %}
            <img class="card-img-top" src="{{ asset('images/' ~ sejour.image1) }}" alt="Card image cap">
            {% endif %}
            <div class="card-body">
                {% if sejour.promo %}
                <h5 class="card-title">Promo : <a href="{{ path('app_sejour_index', {'id': sejour.id}) }}">{{ sejour.titre }}</a></h5>
                {% else %}
                <h5 class="card-title"><a href="{{ path('app_sejour_index', {'id': sejour.id}) }}">{{ sejour.titre }}}</a></h5>
                {% endif %}
                <p class="card-text"><span>Départ en : {{ sejour.moisDepart|date('m/Y') }}</span></p>
                <p class="card-text">{{ sejour.description }}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Départ en : {{ sejour.moisDepart|date('m/Y') }}</li>
                <li class="list-group-item">Prix du séjour : {{ sejour.prixSejour }}</li>
            </ul>
            <div class="card-body">
                <a href="{{ path('app_index_add',{'id': sejour.id}) }}" class="card-link"> <i class="fas fa-shopping-cart mr-1"></i>
                    Réserver</a>
            </div>
        </div>
        {% endfor %}
    </div>

    {# 5 meilleurs séjours classés par notes moyennes #}
    <div>
        <ul class="list-group">
            {% for sejour in best_sejours %}
                <li class="list-group-item"> <a href="{{ path('app_sejour_index', {'id': sejour.id}) }}"> {{ sejour.titre }} </a> : {{ sejour.moyenne | number_format(1, '.', ',')}}</li>
            {% else %}
                toto
            {% endfor %}
        </ul>
    </div>

    {# liste des commentaires du carrousel #}
    <div class="carousel-item">
        <div class="carousel-caption d-none d-md-block">
            {% for comment in comments %}
            <h5 style="color: black;">{{ comment.note|number_format(1, '.', ',') }}</h5>
            <p>{{ comment.contenu }}</p>
            {% endfor %}
        </div>
    </div>

    {# Creation du formulaire#}
    <div class="jumbotron bg-dark container_search" style="color: white">
        <h4 class="text-center">Votre recherche</h4>
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.destination) }}
                </div>
                <div class="col">
                    {{ form_row(form.typeHebergement) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.duree) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-info">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {# Fin Creation du formulaire#}


{% endblock %}
