{% extends 'base.html.twig' %}
{% block body %}

    <h2>Nos Séjours</h2>
    <br>
    <br>
    <div>
        <table>
            {% for sejour in sejours %}
                <tr>
                    <td>
                        {% if sejour.image1 is not null %}
                            <div>
                                <img src="{{ asset('images/' ~ sejour.image1) }}" width="20%">
                            </div>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    {% if sejour.promo %}
                        <td style="color: red; font-size: 1.2rem;">Promo !
                            <a href="{{ path('app_sejour_index', {'id': sejour.id}) }}">{{ sejour.titre }}</a>
                            <span style="color: black">Depart en : {{ sejour.moisDepart|date('m/Y') }}</span>
                        </td>
                    {% else %}
                        <td> <a href="{{ path('app_sejour_index', {'id': sejour.id}) }}">{{ sejour.titre }}</a>
                            <span>Depart en :  {{ sejour.moisDepart|date('m/Y') }}</span>
                        </td>
                    {% endif %}
                    <td>{{ sejour.description }}</td>
                    <td>{{ sejour.dureedata }}</td>
                </tr>
                <tr>
                    <td>
                        <a href="{{ path('app_index_add',{'id': sejour.id}) }}">
                            <i class="fas fa-shopping-cart mr-1"></i>
                            Réserver
                        </a>
                    </td>

                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="list-group list-group-flush">
        {% for sejour in best_sejours %}
            <a class="list-group-item"
               href="{{ path('app_sejour_index', {'id': sejour.id}) }}">
                {{ sejour.titre }} :
                {{ sejour.moyenne }}
            </a><br>
        {% else %}
        {% endfor %}
    </div>

    {# liste des commentaires du carrousel #}
    <table>
        {% for comment in comments %}
            <tr>
                <td>{{ comment.contenu }}</td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                <td>{{ comment.note }}</td>
            </tr>
        {% endfor %}
    </table>



    <br>
    <br>
    {# Creation du formulaire#}

    <div class="jumbotron bg-dark" style="color: white">
        <h4 class="text-center">Votre recherche</h4>
        <div class="container">
            {{ form_start(form) }}
            <div class="row">
                <div class="col">
                    {{ form_row(form.destination) }}
                </div>
                <div class="col">
                    {{ form_row(form.typeHebergement) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{ form_row(form.duree) }}
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-info">Rechercher</button>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
    {# Fin Creation du formulaire#}


{% endblock %}
