<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Space Odyssey{% endblock %}</title>
    {% block stylesheets %}
        <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
              rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
              crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('asset/bootstrap/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('asset/css/spaceodyssey.css') }}">
    {% endblock %}
</head>
<body>

{% if is_granted("ROLE_ADMIN") %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
        <div class="container">
                <span class="navbar-brand mb-0 h1">
                    Admin
                </span>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarAdmin"
                    aria-controls="navbarAdmin" aria-expanded="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarAdmin">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_sejour_index') }}">
                            Gestion Séjours
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_hebergement_index') }}">
                            Gestion Hébergements
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_admin_user_index') }}">
                            Gestion Users
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
{% endif %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a href="{{ path('app_index_index') }}" class="navbar-brand mb-0 h1">
            {% if app.user is null %}
                Space Odyssey
            {% else %}
                {% if (app.user.premium) %}
                    <span style="color: gold">  Space Odyssey Premium  </span>
                {% else %}
                    Space Odyssey
                {% endif %}
            {% endif %}
        </a>
        {{ render(controller('App\\Controller\\DestinationController::menu')) }}
        {% if app.user is null %}
            <span></span>
        {% else %}
            {% if (app.user.premium) %}
                {{ render(controller('App\\Controller\\DestinationController::menupremium')) }}

               {# <video autoplay muted id="myVideo">
                    <source src="asset/video/videoproxima.mp4" type="video/mp4">
                </video>#}
            {% endif %}
        {% endif %}



        <ul>

            {% if app.user is null %}
                <li>
                    <a href="{{ path('app_user_register') }}" class="">Inscription</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_user_login') }}" class="">Connexion</a>
                </li>
            {% else %}
                <li class="">
                    {% if (app.user.premium) %}
                        <span style="color: gold">
                            <a href="{{ path('app_user_profil') }}" class="text-warning"> {{ app.user }} <i class="fas fa-users"></i></a>
                        </span>
                    {% else %}
                        <span style="color: white">
                            <a href="{{ path('app_user_profil') }}" class=""> {{ app.user }} <i class="fas fa-users"></i></a>
                        </span>
                    {% endif %}
                </li>
                <li>
                    <a href="{{ path('app_user_logout') }}" class="">Déconnexion</a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('app_index_panier') }}"><i class="fas fa-shopping-cart"></i></a>
            </li>
        </ul>
    </div>

</nav>
<div class="container">
    {# affichage des messages flash #}
    {% for type, messages in app.session.flashBag.all %}
        {% for message in messages %}
            {# pour la classe alert-danger du bootstrap #}
            {% if type == 'error' %}
                {% set type = 'danger' %}
            {% endif %}
            <div class="alert alert-{{ type }} mt-2">
                {{ message|raw }}
            </div>
        {% endfor %}
    {% endfor %}
    {# {% if (app.user.premium) %}
     <div>
         <span style="color: gold">  Space Odyssey Premium  </span>
     </div>
     {% endif %}#}
    {% block body %}{% endblock %}
</div>
{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/8dac1fed2d.js" crossorigin="anonymous"></script>
    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>

{% endblock %}
</body>
</html>