<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Voyage Interstellaire{% endblock %}</title>
</head>
<body>
<nav>
    <div>
        <a href="{{ path('app_index_index') }}" class="">
            Voyage Interstellaire
        </a>

        {{ render(controller('App\\Controller\\DestinationController::menu')) }}


       <!-- <video autoplay muted loop id="myVideo">
            <source src="asset/myvideo.mp4" type="video/mp4">
        </video>-->

        <ul>

            {% if app.user is null%}
                <li>
                    <a href="{{ path('app_user_register') }}" class="">Inscription
                    </a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_user_login') }}" class="">Connexion</a>
                </li>
            {% else %}
                <li class="">
                <span>
                        {{ app.user }}
                    </span>
                </li>
                <li>
                    <a href="{{ path('app_user_logout') }}" class="">Déconnexion</a>
                </li>
            {% endif %}
        </ul>
        {% block body %}{% endblock %}
    </div>
</nav>

{% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="{{ asset('lib/bootstrap/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
