

{% block body %}

<h1>Les séjours</h1>

<ul>
    {% for sejour in sejours %}
       <li>
              {{ sejour.titre }} -
              {{ sejour.prixSejour }} ---
              {{ sejour.duree }} ---
              {{ sejour.stock }} ---
              {{ sejour.image1 }} ---
       </li>
    {% endfor %}
</ul>


{% endblock %}
