{% extends 'base.html.twig' %}


{% block body %}

    {# ----------------------------------------------- image remplace video --------------------------------------#}
    <div class="banner_imgFixe">
        <div class="container ">
            <img src="{{ asset('asset/img/banner_odyssey.jpg') }}" alt="">
        </div>
    </div>
<div class="container">
    <br>
    <h1>Edition Hébergement</h1>

    {{ form_start(form) }}

    {{ form_row(form.nom) }}
   {{ form_row(form.destination) }}
    {{ form_row(form.typeHebergement) }}
    {{ form_row(form.prix) }}

    <div class="text-right">
        <button type="submit" class="btn btn-secondary">
            Enregistrer
        </button>
        <a href="{{ path('app_admin_hebergement_index') }}" class="btn btn-outline-secondary">
            Retour
        </a>
    </div>

    {{ form_end(form) }}

</div>
    <br>
    <br>

{% endblock %}
