{% extends 'base.html.twig' %}

{%  block body %}
    <br>
    <h2>Gestion Hébergements</h2>
    <br>

{#    <a href="{{ path('app_admin_hebergement_edit') }}" class="btn btn-outline-primary mb-3">#}
    <a href="{{ path('app_admin_hebergement_edit') }}" class="btn btn-outline-secondary mb-3">
        Créer un hébergement
    </a>

    <table class="table">
        <tr class="table-dark">
            <th>Id</th>
            <th>Nom</th>
            <th>Destination Id</th>
            <th>Type Hebergement Id</th>
            <th width="250px"></th>
        </tr>
        {% for hebergement in hebergements %}
            <tr>
                <td>{{ hebergement.id }} </td>
                <td>{{ hebergement.nom }}</td>
               <td>{# {{ hebergement.destination }} #}</td>
                <td>{# {{ hebergement.typeHebergement }} #}</td>
                <td>
                    <a href="{{ path('app_admin_hebergement_edit', {'id': hebergement.id}) }}" class="btn btn-secondary">
                        Modifier
                    </a>
                    <a href="{{ path('app_admin_hebergement_delete', {'id': hebergement.id}) }}" class="btn btn-danger">
                        Supprimer
                    </a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6" class="text-center">Aucun séjour</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}