{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} - informations personnelles
{% endblock %}

{% block body %}

    {% if app.user is null %}
        <li>Veuillez vous inscrire
            <a href="{{ path('app_user_register') }}" class="">
                <i class="fas fa-users"></i> Inscription
            </a>
        </li>
        <li class="nav-item">Veuillez vous connectez à votre compte
            <a href="{{ path('app_user_login') }}" class="">
                <i class="fas fa-users"></i> Connexion
            </a>
        </li>
    {% else %}
        <h1>Mes informations personnelles</h1>

        <div class="profil">
            <div class="user_info">
                <h5>Mes informations</h5>
                <p><strong>Civilité : </strong><em>{{ app.user.civilite}}</em></p>
                <p><strong>Nom : </strong>{{ app.user.nom|upper }}</p>
                <p><strong>Prénom : </strong>{{ app.user.prenom|capitalize }}</p>
                <p><strong>E-mail : </strong>{{ app.user.email|lower }}</p>
            </div>
            <div class="user_info">
                <h5>Adresse</h5>
                <p><strong>Adresse : </strong>{{ app.user.adresse|capitalize }}</p>
                <p><strong>Code postal : </strong>{{ app.user.codepostal }}</p>
                <p><strong>Ville : </strong>{{ app.user.ville|capitalize }}</p>
                <p><strong>Pays : </strong>{{ app.user.pays|upper  }}</p>

                <a href="{{ path('app_user_update') }}" class="btn btn-primary" style="text-decoration: none">
                    Modifier mon profil
                </a>
            </div>
        </div>
    {% endif %}

{% endblock %}
