{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modifier mes informations</h1>

    {{ form_start(form) }}

    {{ form_row(form.civilite) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.email) }}
    {{ form_row(form.codepostal) }}
    {{ form_row(form.adresse) }}
    {{ form_row(form.ville) }}
    {{ form_row(form.pays) }}
    {{ form_row(form.plainPassword) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Enregistrer
        </button>
        <a href="{{ path('app_commande_index') }}" class="btn btn-outline-secondary">
            Retour
        </a>
    </div>
    {{ form_end(form) }}

{% endblock %}



